* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav section  */
.navbaar {
  padding: 15px 20px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
 
  width: 100%;
  top: 0;
  border: 0;
  background-color: #fafafa;
  font-size: 16px;
  z-index: 1000;
}
.nav-logo img {
  max-width: 140px;
}
.navbaar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbaar button {
  background-color: #e15615;
  color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
}
/* hero-seciton */
.hero-section {
  width: 100%;
  padding: 120px 20px 60px;
  background-image: linear-gradient(45deg, pink, lightblue);
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.hero-section h5 {
  color: #e15615;
  margin-bottom: 10px;
  font-size: 14px;
}
.hero-section h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.text-color {
  color: #e15615;
}
.hero-section h4 {
  color: #6b6683;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
  max-width: 800px;
}
.button {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}
.button1 {
  background-color: #e15615;
  color: white;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  font-weight: bold;
}
.button2 {
  background-color: transparent;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  font-weight: bold;
}
.section-video {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 20px;
  max-width: 700px;
  margin: 30px auto;
  flex-wrap: wrap;
}
.section-video a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5d5a5a;
  text-decoration: none;
  padding: 10px;
}
.section-video img {
  margin-top: 20px;
  height: 30px;
  width: 30px;
}
.section-video h5 {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
  color: #5d5a5a;
}
.section-video h3 {
  color: black;
  font-size: 14px;
  text-align: center;
}

.image img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  display: block;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 555px;
  width: 70%;
}
.heading {
  text-align: center;
  padding: 0 20px;
}
.heading h3 {
  color: #6b6683;
  font-size: 16px;
  margin-top: 50px;
  font-weight: 500;
}
.icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.icon img {
  max-width: 120px;
  height: auto;
}
/* features-section */
.feature-section {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
  gap: 40px;
}
.feature-section h4 {
  color: #e15615;
  font-size: 14px;
}
.feature-section h1 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.feature-section h5 {
  color: #6b6683;
  margin-top: 10px;
  font-size: 16px;
  max-width: 800px;
}
/*second hero-secontion   */
.hero-section2 {
  display: flex;
  flex-direction: space-evenly;
  padding: 60px;
  gap: 40px;
}
.content-left {
  gap: 15px;
  text-align: left;
}

.content-left h1,
h3,
h4 {
  margin-bottom: 20px;
}

.images img {
  height: auto;
  width: 555px;
  border-radius: 10px;
}
.content-left h1 {
  font-size: 1.8rem;
}
.content-left h3 {
  color: #7815e181;
  font-size: 16px;
}
.content-left a {
  color: #e15615;
}
.content-left h4 {
  color: #6b6683;
  font-weight: 500;
  font-size: 16px;
}
.hero-section3 {
  display: flex;
  flex-direction: space-evenly;
  padding: 40px 20px;
  gap: 40px;
}
.content-left3 h1,
h3,
h4 {
  margin-bottom: 20px;
}
.content-left3 h1 {
  font-size: 2rem;
}

.content-left3 {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.images3 img {
  height: auto;
  width: 555px;
  border-radius: 10px;
}
.content-left3 h3 {
  color: #e15615;
}
.hero-section2 h4 h1 h5 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-left3 h4 {
  color: #6b6683;
  font-weight: 500;
}
.hero-section4 {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  padding-bottom: 60px;
  gap: 80px;
}
.content-left4 h1,
h3,
h4 {
  margin-bottom: 35px;
}
.content-left4 h1 {
  font-size: 50px;
}

.content-left4 {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.images4 img {
  height: auto;
  width: 555px;
  border-radius: 10px;
}
.content-left4 h3 {
  color: #e15615;
}
.content-left4 h4 {
  color: #6b6683;
  font-weight: 500;
}
.hero-section5 {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  gap: 80px;
}
.content-left5 {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.content-left5 h1,
h3,
h4 {
  margin-bottom: 35px;
}
.content-left5 h1 {
  font-size: 2rem;
}

.images5 img {
  height: auto;
  width: 555px;
  border-radius: 10px;
}
.content-left5 h3 {
  color: #e15615;
}
.content-left5 h4 {
  color: #6b6683;
  font-weight: 500;
}
.hero-section6 {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  gap: 80px;
}
.content-left6 {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.images6 img {
  height: auto;
  width: 555px;
  border-radius: 10px;
}
.content-left6 h3 {
  color: #e15615;
}
.content-left6 h4 {
  color: #6b6683;
  font-weight: 500;
  font-size: 16px;
}
.content-left6 h1,
h3,
h4 {
  margin-bottom: 35px;
}
.content-left6 h1 {
  font-size: 30px;
}

.button3 {
  background-color: #e15615;
  color: white;
  border-radius: 20px;
  justify-content: center;
  font-size: 15px;
  padding: 12px 20px;
  border: none;
  font-weight: bold;
}
/* SECOND HERO-SECOTION END */
/* footer-panel */
.foot-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.foot-panel h3 {
  color: #e15615;
  font-size: 14px;
}
.foot-panel h1 {
  font-size: 2rem;
  margin: 15px 0;
}
.foot-panel h4 {
  color: #6b6683;
  font-weight: 500;
}

/* box1 */
.box1 {
  display: flex;
  flex-direction: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.box1 img {
  height: 31px;
  width: 31px;
  margin: 15px 10px;
  margin-bottom: 30px;
  background-color: #ffffff;
}
.right-image {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #fafafa;
}
.left-image {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #fafafa;
}
.left-image h5 {
  color: #6b6683;
  font-weight: 500;
  font-size: 16px;
}
.right-image h5 {
  color: #6b6683;
  font-weight: 500;
  font-size: 16px;
}
.right-image h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

/* box2 */
.box2 {
  display: flex;
  flex-direction: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.box2 img {
  height: 35px;
  width: 35px;
  margin: 15px 10px;
  margin-bottom: 30px;
  background-color: #ffffff;
}
.right-images {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #fafafa;
}
.left-images {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #fafafa;
}
.left-images h5 {
  color: #6b6683;
  font-weight: 500;
  font-size: 16px;
}
.right-images h5 {
  color: #6b6683;
  font-weight: 500;
  font-size: 16px;
}
.right-images h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

/* main footer section */
.footer {
  padding: 30px 20px;
}
.footer-section h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.footer-section {
  width: 90%;
  border-radius: 20px;
  background-image: linear-gradient(
    -277deg,
    #fcf4df99,
    #efb7ea99 55.61%,
    #b79bf599
  );
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 20px;
  text-align: center;
  margin: auto;
}
.footer-section h4 {
  color: #6b6683;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.button4 {
  background-color: #e15615;
  color: white;

  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 12px 15px;
  padding: 15px;
  border: none;
  font-weight: bold;
}
.button5 {
  border-radius: 25px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 12px 15px;
  border: none;
  font-weight: bold;
}
.borderline {
  font-size: 14px;
  margin-top: 20px;
  padding-top: 5px;
  border-top: #6b6683 1px solid;
  text-align: center;
}
