* {
  margin: 0;
  font-family: Arial;
  box-sizing: border-box;
}
/* nav section  */
.navbaar {
  height: 90px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  border: 1px solid black;
  position: fixed;
  width: 100%;
  top: 0;
  border: 0;
  background-color: #fafafa;
  font-size: 20px;
  gap: 15px;
}
.nav-logo img {
  max-width: 171px;
}
.navbaar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.navbaar button {
  background-color: #e15615;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 15px;
  border: none;
  font-weight: bolder;
}
/* hero-seciton */
.hero-section {
  height: 600px;
  width: 100%;
  background-image: linear-gradient(45deg, pink, lightblue);
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  margin-bottom: 20px;
}
.hero-section h3 {
  color: #e15615;
}
.hero-section h1 {
  font-weight: 700;
  font-size: 4rem;
}
.text-color {
  color: #e15615;
}
.hero-section h4 {
  color: #6b6683;
  font-weight: 500;
  gap: 10px;
}
.button {
  display: flex;
  gap: 10px;
  font-weight: bolder;
  font-size: 22px;
}
.button1 {
  background-color: #e15615;
  color: white;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  font-weight: bold;
}
.button2 {
  background-color: transparent;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  font-weight: bold;
}
.section-video {
  width: 550px;
  border-radius: 20px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-top: 50px;
  margin-left: 15px;
}
.border:hover {
  border: 2px solid #ffffffe6;
} 
.image img {
  padding: auto;
  margin-left: 260px;
  height: 500px;
  width: 900px;
}
.heading {
  align-items: center;
}
.heading h3 {
  color: #6b6683;
  margin-left: 350px;
  margin-top: 80px;
  font-weight: 500;
}
.icon {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.icon img {
  justify-content: space-evenly;
  max-width: 171px;
}
/* features-section */
.feature-section {
  align-items: center;
  justify-content: center;
  display: flex;

  flex-direction: column;
  gap: 80px;
}
.feature-section h4 {
  color: #e15615;
}
.feature-section h1 {
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
}
.feature-section h5 {
  color: #6b6683;
  margin-top: 10px;
  text-align: center;
}
/*second hero-secontion   */
.hero-section2 {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  padding-bottom: 60px;
  gap: 80px;
}
.content-left {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  margin-bottom: 20px;
}

.content-left h1,h3,h4{
margin-bottom: 35px;
}

.images img {
  height: 507px;
  width: 666px;
}
.content-left h1{
  font-size: 50px;
}
.content-left h3 {
  color: #e15615;
}
.content-left a {
  color: #e15615;
} 
.content-left h4{
  color: #6b6683;
  font-weight: 500;
}
.hero-section3 {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  padding-bottom: 60px;
  gap: 80px;
}
.content-left3 h1,h3,h4{
  margin-bottom: 35px;
  }
  .content-left3 h1{
    font-size: 50px;
  }

.content-left3 {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.images3 img {
  height: 507px;
  width: 666px;
}
.content-left3 h3 {
  color: #e15615;
}
.hero-section2 h4 h1 h5{
display: flex;
flex-direction: column;
margin-top: 20px;
  margin-bottom: 20px;

} 
.content-left3 h4{
  color: #6b6683;
  font-weight: 500;
}
.hero-section4 {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  padding-bottom: 60px;
  gap: 80px;
}
.content-left4 h1,h3,h4{
  margin-bottom: 35px;
  }
  .content-left4 h1{
    font-size: 50px;
  }

.content-left4 {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.images4 img {
  height: 507px;
  width: 666px;
}
.content-left4 h3 {
  color: #e15615;
}
.content-left4 h4{
  color: #6b6683;
  font-weight: 500;
}
.hero-section5 {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  gap: 80px;
}
.content-left5 {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.content-left5 h1,h3,h4{
  margin-bottom: 35px;
  }
  .content-left5 h1{
    font-size: 50px;
  }

.images5 img {
  height: 507px;
  width: 666px;
}
.content-left5 h3 {
  color: #e15615;
}
.content-left5 h4{
  color: #6b6683;
  font-weight: 500;
}
.hero-section6 {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  gap: 80px;
}
.content-left6 {
  gap: 15px;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.images6 img {
  height: 367px;
  width: 666px;
  border-radius: 10px;
}
.content-left6 h3 {
  color: #e15615;
}
.content-left6 h4{
  color: #6b6683;
  font-weight: 500;
}
.content-left6 h1,h3,h4{
  margin-bottom: 35px;
  }
  .content-left6 h1{
    font-size: 30px;
  }

.button3 {
  background-color: #e15615;
  color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 15px;
  border: none;
  font-weight: bold;
}
  /* SECOND HERO-SECOTION END */
/* footer-panel */
.foot-content {
  align-items: center;
  display: flex;
  flex-direction: column;
 
  text-align: center;

}
.foot-panel h3 {
  color: #e15615;
}
.foot-panel h1 {
  font-size: 42px;
}
.foot-panel h4{
  color: #6b6683;
  font-weight: 500;
}


/* box1 */
.box1 {
  justify-content: space-between;
  display: flex;
  gap: 20px;
 

}
.box1 img {
  height: 31px;
  width: 31px;
  margin: 15px 10px ;
  margin-bottom: 30px;
  background-color: #ffffff;
}
.right-image{
height:234px ;
width: 641px;
background-color: #fafafa;
}
.left-image{
  height:234px ;
  width: 641px;
  background-color: #fafafa;
}
.left-image h5{
  color: #6b6683;
  font-weight: 500;
}
.right-image h5{
  color: #6b6683;
  font-weight: 500;
}

/* box2 */
.box2 {
  display: flex;
  justify-content: space-around;
  gap: 30px;
 padding-top: 20px;

}
.box2 img {
  height: 35px;
  width: 35px;
  margin: 15px 10px ;
  margin-bottom: 30px;
  background-color: #ffffff;
}
.right-images{
  height:234px ;
  width: 641px;
  background-color: #fafafa;

  }
  .left-images{
    height:234px ;
    width: 641px;
    background-color: #fafafa;
  }
  .left-images h5{
    color: #6b6683;
    font-weight: 500;
  }
  .right-images h5{
    color: #6b6683;
    font-weight: 500;
  }
  .right-images h5 h2{
    padding-bottom: 10px;
  }


/* main footer section */
.footer {
  align-items: center;
  padding-left: 220px;
  padding-top: 30px;
}
.footer-section {
  height: 360px;
  width: 90%;
  border-radius: 30px;
  background-image: linear-gradient(
    -277deg,
    #fcf4df99,
    #efb7ea99 55.61%,
    #b79bf599
  );
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.footer-section h4{
  color: #6b6683;
  font-weight: 500;
}
.button4 {
  background-color: #e15615;
  color: white;
  
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 15px;
  border: none;
  font-weight: bolder;
}
.button5 {
  border-radius: 25px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 15px;
  border: none;
  font-weight: bolder;
}
.borderline {
  height: 100px;
  margin-top: 20px;
  padding-top: 5px;
  border-top: #6b6683 1px solid;
  text-align: center;
}
